## Access The Eurostat API and Get The Necessary Data

In [29]:
import eurostat
import time
import schedule
import pandas as pd
import os

In [9]:
# Let's get all the datasets
toc_df = eurostat.get_toc_df()
toc_df

,title,code,type,last update of data,last table structure change,data start,data end
0,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_ES,dataset,2023-08-29T23:00:00+0200,2023-08-29T23:00:00+0200,2000-Q1,2023-Q1
1,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_FI,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2023-Q1
2,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_FR,dataset,2023-10-24T11:00:00+0200,2023-10-24T11:00:00+0200,1998-Q1,2022-Q4
3,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_HR,dataset,2023-09-05T23:00:00+0200,2023-09-05T23:00:00+0200,2005-Q1,2023-Q2
4,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_IE,dataset,2023-09-14T23:00:00+0200,2023-09-14T23:00:00+0200,1997-Q1,2023-Q2
5,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_IT,dataset,2023-10-06T23:00:00+0200,2023-10-06T23:00:00+0200,1997-Q1,2022-Q4
6,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_LT,dataset,2023-08-11T23:00:00+0200,2023-08-11T23:00:00+0200,2004-Q1,2023-Q1
7,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_LV,dataset,2023-08-11T23:00:00+0200,2023-08-11T23:00:00+0200,2001-Q1,2023-Q2
8,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_ME,dataset,2023-10-06T23:00:00+0200,2023-10-06T23:00:00+0200,2019-Q1,2023-Q2
9,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_MT,dataset,2023-08-28T23:00:00+0200,2023-08-28T23:00:00+0200,2003-Q1,2023-Q1
10,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_NL,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2022-Q4
11,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_NO,dataset,2023-10-17T23:00:00+0200,2023-10-17T23:00:00+0200,2002-Q1,2022-Q4
12,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_PL,dataset,2023-09-12T11:00:00+0200,2023-09-12T11:00:00+0200,2004-Q1,2023-Q1
13,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_PT,dataset,2023-09-19T11:00:00+0200,2023-09-19T11:00:00+0200,2000-Q1,2023-Q1
14,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_SE,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2022-Q4
15,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_TR,dataset,2023-08-10T23:00:00+0200,2023-08-10T23:00:00+0200,2008-Q1,2023-Q2
16,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_UK,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2020-Q2
17,Country level - gross weight of goods handled ...,MAR_QG_QM_CWH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
18,EU level - top 20 extra-EU maritime trade flow...,MAR_QG_QM_EWH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
19,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHD,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
20,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHG,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
21,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHK,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
22,EU level - top 10 extra-EU partner countries b...,MAR_QG_QM_EWHP,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
23,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHT,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
24,Top 5 ports for volume of containers - volume ...,MAR_QG_QM_PVH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
25,Top 5 ports - gross weight of goods handled in...,MAR_QG_QM_PWH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
26,Top 5 ports for dry bulk- gross weight of dry ...,MAR_QG_QM_PWHB,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
27,Top 5 ports for containers - gross weight of g...,MAR_QG_QM_PWHC,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
28,Top 5 ports for liquid bulk - gross weight of ...,MAR_QG_QM_PWHL,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
29,Top 5 ports for other cargo not elsewhere spec...,MAR_QG_QM_PWHO,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
...,...,...,...,...,...,...,...
7507,Expenditure by LMP intervention - Germany,LMP_EXPME$DE,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7508,Expenditure by LMP intervention - Denmark,LMP_EXPME$DK,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7509,Expenditure by LMP intervention - Estonia,LMP_EXPME$EE,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7510,Expenditure by LMP intervention - Greece,LMP_EXPME$EL,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7511,Expenditure by LMP intervention - Spain,LMP_EXPME$ES,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7512,Expenditure by LMP intervention - Finland,LMP_EXPME$FI,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7513,Expenditure by LMP intervention - France,LMP_EXPME$FR,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7514,Expenditure by LMP intervention - Croatia,LMP_EXPME$HR,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7515,Expenditure by LMP intervention - Hungary,LMP_EXPME$HU,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7516,Expenditure by LMP intervention - Ireland,LMP_EXPME$IE,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7517,Expenditure by LMP intervention - Italy,LMP_EXPME$IT,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7518,Expenditure by LMP intervention - Lithuania,LMP_EXPME$LT,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7519,Postal services falling under the universal se...,POST_CUBE1_X$USO701,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7520,Postal services - historical data,POST_CUBE_HIST_X,dataset,2021-10-12T04:09:13Z,2021-10-12T04:09:13Z,2004,2011
7521,Domestic postal services (USP) - access points...,POST_CUBE_HIST_X$POST_PS_AC,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7522,Domestic postal services (USP) - employment (2...,POST_CUBE_HIST_X$POST_PS_EMPN,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7523,Domestic and international postal services (US...,POST_CUBE_HIST_X$POST_PS_QS,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7524,Domestic and international postal services (US...,POST_CUBE_HIST_X$POST_PS_TRA,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7525,Domestic postal services (USP) - turnover (200...,POST_CUBE_HIST_X$POST_PS_TUR,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7526,Domestic and international postal services (US...,POST_CUBE_HIST_X$POST_PS_LET,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7527,Domestic postal services (USP) - prices (2004-...,POST_CUBE_HIST_X$POST_PS_PRI,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7528,Employment related to the provision of postal...,POST_CUBE1_X$POST_EMP_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7529,Turnover from the provision of postal services...,POST_CUBE1_X$POST_FIN_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7530,International inbound and outbound postal traf...,POST_CUBE1_X$POST_ITR_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7531,Prices of letter mail and parcel services (US...,POST_CUBE1_X$POST_PRI_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7532,Percentage of letters delivered on-time (USP u...,POST_CUBE1_X$POST_QOS_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7533,Postal services,POST_CUBE1_X,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,2012,2021
7534,Number of enterprises providing postal services,POST_CUBE1_X$NUM701,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7535,Access points (USP under direct or indirect d...,POST_CUBE1_X$POST_ACC_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7536,"Domestic postal traffic, letter mail and parce...",POST_CUBE1_X$POST_DTR_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None

In [10]:
# Search For a Dataset Based On the Keyword
f = eurostat.subset_toc_df(toc_df, 'population')
f

,title,code,type,last update of data,last table structure change,data start,data end
90,Population connected to Wastewater Treatment,MED_EN47,dataset,2020-05-28T23:00:00+0200,2021-06-01T23:00:00+0200,2005,2018
105,Population on 1 January by sex and by age group,MED_PS112,dataset,2020-05-28T23:00:00+0200,2021-02-08T23:00:00+0100,2005,2019
106,Average population (mid-year),MED_PS115,dataset,2020-05-28T23:00:00+0200,2021-02-08T23:00:00+0100,2005,2018
173,Average annual population to calculate regiona...,MET_10R_3PGDP,dataset,2023-08-18T23:00:00+0200,2023-03-10T23:00:00+0100,2000,2021
189,Population density by metropolitan regions,MET_D3DENS,dataset,2023-09-19T23:00:00+0200,2023-09-19T23:00:00+0200,2018,2022
192,Population aged 25-64 by educational attainmen...,MET_EDAT_LFSE4,dataset,2023-07-20T23:00:00+0200,2023-07-20T23:00:00+0200,2009,2022
199,Community design (CD) applications per million...,MET_IPR_DAPOP,dataset,2018-07-19T11:00:00+0200,2021-02-08T23:00:00+0100,2003,2016
204,Community designs (CD) per million population ...,MET_IPR_DFAPOP,dataset,2018-07-19T11:00:00+0200,2021-02-08T23:00:00+0100,2003,2016
212,European Union trade mark (EUTM) applications ...,MET_IPR_TAPOP,dataset,2018-07-19T11:00:00+0200,2021-02-08T23:00:00+0100,1996,2016
217,"Economically active population by sex, age and...",MET_LFP3POP,dataset,2023-07-20T23:00:00+0200,2023-07-20T23:00:00+0200,1999,2022
219,"Population by sex, age and metropolitan regions",MET_LFSD3POP,dataset,2023-07-20T23:00:00+0200,2023-07-20T23:00:00+0200,1999,2022
231,"Population on 1 January by broad age group, se...",MET_PJANAGGR3,dataset,2023-10-10T23:00:00+0200,2023-07-17T23:00:00+0200,1990,2022
232,Population on 1 January by five year age group...,MET_PJANGRP3,dataset,2023-10-10T23:00:00+0200,2023-05-19T23:00:00+0200,2014,2022
241,"Population on 1st January by age, sex, type of...",MET_PROJ_19RP,dataset,2022-12-20T23:00:00+0100,2022-12-20T23:00:00+0100,2019,2100
256,Vaccination against influenza of population ag...,HLTH_PS_IMMU,dataset,2023-07-12T11:00:00+0200,2023-07-12T11:00:00+0200,2000,2022
468,"Population on 1 January by age group, sex and ...",MIGR_POP1CTZ,dataset,2023-10-05T23:00:00+0200,2023-09-29T23:00:00+0200,1998,2022
470,"Population on 1 January by age, sex and broad ...",MIGR_POP2CTZ,dataset,2023-10-05T11:00:00+0200,2023-03-29T11:00:00+0200,1998,2022
473,"Population on 1 January by age group, sex and ...",MIGR_POP3CTB,dataset,2023-10-05T11:00:00+0200,2023-03-27T23:00:00+0200,1998,2022
475,"Population on 1 January by age, sex and group ...",MIGR_POP4CTB,dataset,2023-10-05T11:00:00+0200,2023-03-29T11:00:00+0200,1998,2022
477,"Population on 1 January by sex, citizenship an...",MIGR_POP5CTZ,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2009,2022
479,"Population on 1 January by sex, country of bir...",MIGR_POP6CTB,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2009,2022
482,"Population on 1 January by age group, sex and ...",MIGR_POP7CTZ,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2014,2022
485,"Population on 1 January by age group, sex and ...",MIGR_POP8CTB,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2014,2022
563,Employment and population- international data ...,NAIDA_10_PE,dataset,2023-11-11T23:00:00+0100,2023-02-24T23:00:00+0100,1975,2022
569,Employment and population - international data...,NAIDQ_10_PE,dataset,2023-11-14T23:00:00+0100,2023-09-27T11:00:00+0200,1975-Q1,2023-Q3
643,Average annual population to calculate regiona...,NAMA_10R_3POPGDP,dataset,2023-08-02T23:00:00+0200,2023-02-19T23:00:00+0100,2000,2021
684,Population and employment,NAMA_10_PE,dataset,2023-10-26T23:00:00+0200,2023-10-05T23:00:00+0200,1975,2022
701,Population and employment,NAMQ_10_PE,dataset,2023-11-14T23:00:00+0100,2023-10-27T23:00:00+0200,1975-Q1,2023-Q3
835,Gini coefficient on household population - exp...,ICW_SR_05,dataset,2023-10-09T23:00:00+0200,2023-06-12T23:00:00+0200,2010,2020
916,Children in formal childcare or education by a...,ILC_CAINDFORMAL,dataset,2023-09-29T23:00:00+0200,2023-09-14T23:00:00+0200,2005,2022
...,...,...,...,...,...,...,...
7364,"Population by group of citizenship, occupation...",CENS_11CTZO_R2,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7365,Population by country of citizenship at nation...,CENS_11CTZ_N,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7367,"Population by status in employment, NACE Rev. ...",CENS_11EMPN_R2,dataset,2015-07-22T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7368,"Population by status in employment, occupation...",CENS_11EMPO_R2,dataset,2019-04-01T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7369,Population by family status and NUTS 3 region,CENS_11FS_R3,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7371,Population by housing arrangement and NUTS 2 r...,CENS_11HOU_R2,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7373,Population by marital status and NUTS 3 region,CENS_11MS_R3,dataset,2019-04-01T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7374,Population by broad age group,CENS_21AG,dataset,2023-10-10T23:00:00+0200,2023-10-10T23:00:00+0200,2021,2021
7375,Population by broad age group and NUTS 3 regions,CENS_21AGR3,dataset,2023-10-10T23:00:00+0200,2023-10-10T23:00:00+0200,2021,2021
7376,Population with Ukrainian citizenship by age,CENS_21UA_A,dataset,2023-03-13T23:00:00+0100,2023-03-13T23:00:00+0100,2021,2021
7377,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_A5,dataset,2023-03-07T23:00:00+0100,2023-03-07T23:00:00+0100,2021,2021
7378,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_A5R3,dataset,2023-03-13T23:00:00+0100,2023-03-13T23:00:00+0100,2021,2021
7379,Population with Ukrainian citizenship by age a...,CENS_21UA_AR3,dataset,2023-03-13T23:00:00+0100,2023-03-13T23:00:00+0100,2021,2021
7380,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_MS,dataset,2022-07-07T23:00:00+0200,2022-07-07T23:00:00+0200,2021,2021
7381,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_MSR3,dataset,2022-07-07T23:00:00+0200,2022-07-07T23:00:00+0200,2021,2021
7382,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_YAE,dataset,2022-10-12T23:00:00+0200,2022-10-12T23:00:00+0200,2021,2021
7383,Active population by sex and age,CENS_91AAGE,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7384,Active population by citizenship and age group,CENS_91ACTZ,dataset,2010-01-11T11:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7387,Female active population by age and marital st...,CENS_91AMSTA,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7389,"Active population by sex, age groups and worki...",CENS_91AWSTA,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7393,"Active population by sex, by age group and edu...",CENS_91EACT,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7394,"Inactive population by sex, age group and educ...",CENS_91EINACT,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7398,Population by sex and year of birth,CENS_91SBIRTH,dataset,2010-01-18T11:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7399,"Population by sex, age group and citizenship",CENS_91SCTZ,dataset,2010-01-11T11:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7400,"Population by sex, age and marital status",CENS_91SMSTA,dataset,2010-04-13T11:00:00+0200,2021-02-08T23:00:00+0100,1991,1991
7403,Employed population by sex and occupation,CENS_HNAISCO,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7404,"Population by sex, age and current activity st...",CENS_HNCAS,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7405,"Population by sex, age and citizenship",CENS_HNCTZ,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7408,"Population by sex, age and educational attainm...",CENS_HNELEV,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7409,Population by sex and age,CENS_HNMGA,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1981,2001

In [40]:
# Let's use the code to get the data
data = eurostat.get_data_df('MET_PJANAGGR3')
data

,freq,sex,age,metroreg\TIME_PERIOD,1990,1991,1992,1993,1994,1995,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,A,F,TOTAL,AL,NaN,NaN,NaN,NaN,NaN,NaN,...,1437193.0,1430827.0,1424597.0,1417141.0,1423050.0,1431715.0,1432833.0,1425342.0,1419759.0,1406532.0
1,A,F,TOTAL,AL_NM,NaN,NaN,NaN,NaN,NaN,NaN,...,1437193.0,1430827.0,1424597.0,1417141.0,1423050.0,1431715.0,1432833.0,1425342.0,1419759.0,1406532.0
2,A,F,TOTAL,AT,3989903.0,4014682.0,4052348.0,4089274.0,4107857.0,4112289.0,...,4328238.0,4352447.0,4384529.0,4427918.0,4460424.0,4483749.0,4501742.0,4522292.0,4535712.0,4553444.0
3,A,F,TOTAL,AT001MC,NaN,NaN,NaN,NaN,NaN,NaN,...,1369623.0,1384183.0,1401771.0,1424042.0,1439729.0,1452639.0,1460755.0,1470512.0,1477741.0,1484729.0
4,A,F,TOTAL,AT002M,NaN,NaN,NaN,NaN,NaN,NaN,...,307261.0,309489.0,312934.0,316596.0,319172.0,320830.0,322718.0,324937.0,326649.0,328798.0
5,A,F,TOTAL,AT003M,NaN,NaN,NaN,NaN,NaN,NaN,...,386600.0,388891.0,392350.0,396001.0,399153.0,401683.0,404198.0,406354.0,407606.0,409569.0
6,A,F,TOTAL,AT004M,NaN,NaN,NaN,NaN,NaN,NaN,...,180053.0,180999.0,182423.0,184229.0,185646.0,187061.0,188180.0,189451.0,190316.0,190728.0
7,A,F,TOTAL,AT005M,NaN,NaN,NaN,NaN,NaN,NaN,...,149414.0,151177.0,153221.0,155660.0,157106.0,157913.0,158465.0,158923.0,158839.0,158916.0
8,A,F,TOTAL,AT_NM,NaN,NaN,NaN,NaN,NaN,NaN,...,1935287.0,1937708.0,1941830.0,1951390.0,1959618.0,1963623.0,1967426.0,1972115.0,1974561.0,1980704.0
9,A,F,TOTAL,BE,5087683.0,5106290.0,5122765.0,5144847.0,5160407.0,5175903.0,...,5665118.0,5687048.0,5713206.0,5741853.0,5762455.0,5784371.0,5810693.0,5841215.0,5854293.0,5883978.0
10,A,F,TOTAL,BE001MC,NaN,NaN,NaN,NaN,NaN,NaN,...,1618211.0,1627375.0,1638581.0,1651432.0,1657724.0,1666368.0,1677528.0,1688647.0,1694936.0,1704970.0
11,A,F,TOTAL,BE002M,NaN,NaN,NaN,NaN,NaN,NaN,...,516323.0,518447.0,520859.0,523323.0,525904.0,528276.0,530892.0,534038.0,534939.0,536962.0
12,A,F,TOTAL,BE003M,NaN,NaN,NaN,NaN,NaN,NaN,...,314792.0,316452.0,318063.0,320374.0,322248.0,323516.0,325424.0,327382.0,328451.0,330506.0
13,A,F,TOTAL,BE004M,NaN,NaN,NaN,NaN,NaN,NaN,...,285372.0,285261.0,285214.0,285219.0,284724.0,284517.0,284589.0,285065.0,284704.0,285391.0
14,A,F,TOTAL,BE005M,NaN,NaN,NaN,NaN,NaN,NaN,...,414575.0,415579.0,416501.0,417819.0,418539.0,419445.0,420140.0,421225.0,420916.0,421599.0
15,A,F,TOTAL,BE007M,NaN,NaN,NaN,NaN,NaN,NaN,...,158244.0,159155.0,159834.0,160488.0,161116.0,161714.0,162350.0,163029.0,163255.0,163992.0
16,A,F,TOTAL,BE_NM,NaN,NaN,NaN,NaN,NaN,NaN,...,2357601.0,2364779.0,2374154.0,2383198.0,2392200.0,2400535.0,2409770.0,2421829.0,2427092.0,2440558.0
17,A,F,TOTAL,BG,4443535.0,4399271.0,4366016.0,4315730.0,4308125.0,4297452.0,...,3739479.0,3720732.0,3700183.0,3676607.0,3651881.0,3627625.0,3604338.0,3581836.0,3566833.0,3527626.0
18,A,F,TOTAL,BG001MC,863940.0,860663.0,852161.0,845917.0,844348.0,844981.0,...,870838.0,872065.0,873111.0,873138.0,872302.0,870878.0,869757.0,868005.0,864305.0,859010.0
19,A,F,TOTAL,BG002M,384136.0,382501.0,379551.0,376648.0,377729.0,378615.0,...,351326.0,351070.0,349978.0,349070.0,348416.0,347638.0,347158.0,346665.0,346547.0,344721.0
20,A,F,TOTAL,BG003M,233266.0,233211.0,233351.0,234107.0,232948.0,230967.0,...,241781.0,242214.0,242175.0,241871.0,241964.0,241819.0,241638.0,241173.0,241499.0,240624.0
21,A,F,TOTAL,BG004M,223612.0,223391.0,222985.0,222090.0,222482.0,222614.0,...,211620.0,212041.0,212554.0,212594.0,212316.0,212060.0,211701.0,211475.0,212058.0,211705.0
22,A,F,TOTAL,BG_NM,2738581.0,2699505.0,2677968.0,2636968.0,2630618.0,2620275.0,...,2063914.0,2043342.0,2022365.0,1999934.0,1976883.0,1955230.0,1934084.0,1914518.0,1902424.0,1871566.0
23,A,F,TOTAL,CH,3416313.0,3460226.0,3501103.0,3534043.0,3564707.0,3590651.0,...,4070536.0,4117540.0,4163786.0,4205655.0,4246113.0,4277696.0,4307406.0,4337170.0,4367701.0,4400588.0
24,A,F,TOTAL,CH001M,588263.0,589196.0,592832.0,595731.0,597600.0,600625.0,...,710721.0,718749.0,728652.0,737907.0,748155.0,756070.0,763887.0,772596.0,779124.0,784417.0
25,A,F,TOTAL,CH002M,195284.0,198199.0,200005.0,201445.0,203117.0,205239.0,...,239364.0,242486.0,246779.0,250309.0,252412.0,255135.0,257632.0,259944.0,261023.0,262530.0
26,A,F,TOTAL,CH003M,NaN,NaN,NaN,NaN,NaN,NaN,...,352011.0,354417.0,356979.0,359499.0,361524.0,362847.0,363904.0,365114.0,365888.0,366623.0
27,A,F,TOTAL,CH004MC,481295.0,484488.0,488010.0,490067.0,483977.0,484372.0,...,507959.0,511767.0,515410.0,519225.0,522724.0,525215.0,527186.0,529304.0,530832.0,532864.0
28,A,F,TOTAL,CH005M,295676.0,299612.0,304166.0,307245.0,309180.0,311805.0,...,375373.0,382607.0,388259.0,394333.0,399433.0,403625.0,406616.0,409909.0,414545.0,418657.0
29,A,F,TOTAL,CH006M,NaN,NaN,NaN,NaN,NaN,NaN,...,271007.0,273090.0,275101.0,276710.0,278202.0,279275.0,280738.0,282202.0,283822.0,286186.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5475,A,T,Y_LT15,UK013M,NaN,NaN,NaN,NaN,NaN,NaN,...,185732.0,186432.0,187193.0,188340.0,189891.0,191116.0,191732.0,NaN,NaN,NaN
5476,A,T,Y_LT15,UK014M,NaN,NaN,NaN,NaN,NaN,NaN,...,239082.0,240971.0,243148.0,246294.0,249940.0,253302.0,255268.0,NaN,NaN,NaN
5477,A,T,Y_LT15,UK016M,NaN,NaN,NaN,NaN,NaN,NaN,...,75899.0,76748.0,77524.0,78129.0,78662.0,79621.0,80279.0,NaN,NaN,NaN
5478,A,T,Y_LT15,UK017M,NaN,NaN,NaN,NaN,NaN,NaN,...,107375.0,108602.0,110301.0,111887.0,113143.0,114437.0,115147.0,NaN,NaN,NaN
5479,A,T,Y_LT15,UK018M,NaN,NaN,NaN,NaN,NaN,NaN,...,115316.0,116139.0,117206.0,118454.0,120034.0,121500.0,122427.0,NaN,NaN,NaN
5480,A,T,Y_LT15,UK019M,NaN,NaN,NaN,NaN,NaN,NaN,...,114334.0,115341.0,116466.0,118127.0,120126.0,121803.0,122874.0,NaN,NaN,NaN
5481,A,T,Y_LT15,UK023M,NaN,NaN,NaN,NaN,NaN,NaN,...,112230.0,112816.0,113355.0,114100.0,115115.0,116150.0,116200.0,NaN,NaN,NaN
5482,A,T,Y_LT15,UK025M,NaN,NaN,NaN,NaN,NaN,NaN,...,153023.0,154814.0,156816.0,159024.0,161429.0,163817.0,165695.0,NaN,NaN,NaN
5483,A,T,Y_LT15,UK026M,NaN,NaN,NaN,NaN,NaN,NaN,...,97530.0,97848.0,98371.0,99198.0,100114.0,100875.0,101219.0,NaN,NaN,NaN
5484,A,T,Y_LT15,UK027M,NaN,NaN,NaN,NaN,NaN,NaN,...,185422.0,185913.0,186499.0,187617.0,189321.0,190594.0,190947.0,NaN,NaN,NaN
5485,A,T,Y_LT15,UK029M,NaN,NaN,NaN,NaN,NaN,NaN,...,53498.0,54439.0,55549.0,56768.0,57868.0,58863.0,59404.0,NaN,NaN,NaN
5486,A,T,Y_LT15,UK501M,NaN,NaN,NaN,NaN,NaN,NaN,...,119178.0,119746.0,120519.0,121509.0,122620.0,123437.0,123454.0,NaN,NaN,NaN
5487,A,T,Y_LT15,UK506M,NaN,NaN,NaN,NaN,NaN,NaN,...,140636.0,141530.0,142680.0,144044.0,145702.0,146910.0,147621.0,NaN,NaN,NaN
5488,A,T,Y_LT15,UK510M,NaN,NaN,NaN,NaN,NaN,NaN,...,44879.0,44930.0,45070.0,45274.0,45636.0,45924.0,45986.0,NaN,NaN,NaN
5489,A,T,Y_LT15,UK513M,NaN,NaN,NaN,NaN,NaN,NaN,...,50951.0,51520.0,52244.0,53025.0,53755.0,54514.0,54942.0,NaN,NaN,NaN
5490,A,T,Y_LT15,UK515M,NaN,NaN,NaN,NaN,NaN,NaN,...,42297.0,42587.0,42791.0,42881.0,42792.0,43062.0,42991.0,NaN,NaN,NaN
5491,A,T,Y_LT15,UK516M,NaN,NaN,NaN,NaN,NaN,NaN,...,42416.0,42873.0,43338.0,43870.0,44394.0,44810.0,44933.0,NaN,NaN,NaN
5492,A,T,Y_LT15,UK517M,NaN,NaN,NaN,NaN,NaN,NaN,...,85354.0,85473.0,85795.0,86368.0,86830.0,86670.0,86779.0,NaN,NaN,NaN
5493,A,T,Y_LT15,UK518M,NaN,NaN,NaN,NaN,NaN,NaN,...,48468.0,48966.0,49543.0,50143.0,50624.0,51124.0,51206.0,NaN,NaN,NaN
5494,A,T,Y_LT15,UK520M,NaN,NaN,NaN,NaN,NaN,NaN,...,127727.0,128855.0,130149.0,131721.0,133094.0,134677.0,135519.0,NaN,NaN,NaN
5495,A,T,Y_LT15,UK528M,NaN,NaN,NaN,NaN,NaN,NaN,...,71346.0,72074.0,73012.0,74304.0,75727.0,76634.0,77348.0,NaN,NaN,NaN
5496,A,T,Y_LT15,UK539M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5497,A,T,Y_LT15,UK546M,NaN,NaN,NaN,NaN,NaN,NaN,...,78815.0,79466.0,80505.0,81614.0,82701.0,83865.0,84559.0,NaN,NaN,NaN
5498,A,T,Y_LT15,UK553M,NaN,NaN,NaN,NaN,NaN,NaN,...,120626.0,120713.0,121082.0,121949.0,123043.0,123581.0,123731.0,NaN,NaN,NaN
5499,A,T,Y_LT15,UK559M,NaN,NaN,NaN,NaN,NaN,NaN,...,100518.0,101071.0,101661.0,102512.0,103610.0,104538.0,104840.0,NaN,NaN,NaN
5500,A,T,Y_LT15,UK560M,NaN,NaN,NaN,NaN,NaN,NaN,...,116655.0,117435.0,118125.0,119230.0,120556.0,121656.0,122269.0,NaN,NaN,NaN
5501,A,T,Y_LT15,UK561M,NaN,NaN,NaN,NaN,NaN,NaN,...,54122.0,55277.0,56273.0,57322.0,58059.0,58959.0,59415.0,NaN,NaN,NaN
5502,A,T,Y_LT15,UK566M,NaN,NaN,NaN,NaN,NaN,NaN,...,56632.0,56967.0,57482.0,58192.0,58858.0,59531.0,59679.0,NaN,NaN,NaN
5503,A,T,Y_LT15,UK568M,NaN,NaN,NaN,NaN,NaN,NaN,...,105490.0,105693.0,106058.0,106656.0,107635.0,108588.0,109076.0,NaN,NaN,NaN
5504,A,T,Y_LT15,UK569M,NaN,NaN,NaN,NaN,NaN,NaN,...,123614.0,124153.0,125261.0,126361.0,127782.0,128810.0,128841.0,NaN,NaN,NaN

In [65]:
# Data Cleaning
data = eurostat.get_data_df('MET_PJANAGGR3')

# Drop unecessarry columns
data = data.drop(columns={'freq'})

# Let's Create a New Column Called 'Time' and another one called 'Value'
data = pd.melt(data, id_vars=['sex','age','metroreg\TIME_PERIOD'], var_name='Time', value_name='Value')

# Let's Drop Missing Values
data = data.dropna()

# Sort The data by 'Time' and 'age'
data.sort_values(by=['Time','age'], ascending=[False,True], inplace=True)

data

       sex     age metroreg\TIME_PERIOD  Time       Value
176160   F   TOTAL                   AL  2022   1406532.0
176161   F   TOTAL                AL_NM  2022   1406532.0
176162   F   TOTAL                   AT  2022   4553444.0
176163   F   TOTAL              AT001MC  2022   1484729.0
176164   F   TOTAL               AT002M  2022    328798.0
176165   F   TOTAL               AT003M  2022    409569.0
176166   F   TOTAL               AT004M  2022    190728.0
176167   F   TOTAL               AT005M  2022    158916.0
176168   F   TOTAL                AT_NM  2022   1980704.0
176169   F   TOTAL                   BE  2022   5883978.0
176170   F   TOTAL              BE001MC  2022   1704970.0
176171   F   TOTAL               BE002M  2022    536962.0
176172   F   TOTAL               BE003M  2022    330506.0
176173   F   TOTAL               BE004M  2022    285391.0
176174   F   TOTAL               BE005M  2022    421599.0
176175   F   TOTAL               BE007M  2022    163992.0
176176   F   TOTAL                BE_NM  2022   2440558.0
176177   F   TOTAL                   BG  2022   3527626.0
176178   F   TOTAL              BG001MC  2022    859010.0
176179   F   TOTAL               BG002M  2022    344721.0
176180   F   TOTAL               BG003M  2022    240624.0
176181   F   TOTAL               BG004M  2022    211705.0
176182   F   TOTAL                BG_NM  2022   1871566.0
176183   F   TOTAL                   CH  2022   4400588.0
176184   F   TOTAL               CH001M  2022    784417.0
176185   F   TOTAL               CH002M  2022    262530.0
176186   F   TOTAL               CH003M  2022    366623.0
176187   F   TOTAL              CH004MC  2022    532864.0
176188   F   TOTAL               CH005M  2022    418657.0
176189   F   TOTAL               CH006M  2022    286186.0
...     ..     ...                  ...   ...         ...
5281     T  Y_LT15               ES026M  1990    210751.0
5282     T  Y_LT15               ES501M  1990    177145.0
5283     T  Y_LT15               ES510M  1990    121253.0
5284     T  Y_LT15               ES522M  1990    276004.0
5286     T  Y_LT15                   FI  1990    962269.0
5287     T  Y_LT15              FI001MC  1990    227492.0
5288     T  Y_LT15               FI002M  1990     77089.0
5289     T  Y_LT15               FI003M  1990     77250.0
5290     T  Y_LT15                FI_NM  1990    580438.0
5291     T  Y_LT15                   FR  1990  11388759.0
5332     T  Y_LT15                   HU  1990   2130549.0
5339     T  Y_LT15                   IE  1990    959360.0
5343     T  Y_LT15                   IS  1990     63446.0
5345     T  Y_LT15                   IT  1990   9521317.0
5369     T  Y_LT15                   LI  1990      5514.0
5371     T  Y_LT15                   LT  1990    833615.0
5375     T  Y_LT15                   LU  1990     65400.0
5376     T  Y_LT15              LU001MC  1990     65400.0
5377     T  Y_LT15                   LV  1990    571823.0
5384     T  Y_LT15                   MT  1990     83206.0
5387     T  Y_LT15                   NL  1990   2714869.0
5402     T  Y_LT15                   NO  1990    800912.0
5408     T  Y_LT15                   PL  1990   9612920.0
5429     T  Y_LT15                   PT  1990   2081440.0
5434     T  Y_LT15                   RO  1990   5508479.0
5447     T  Y_LT15                   SE  1990   1521849.0
5453     T  Y_LT15                   SI  1990    418239.0
5457     T  Y_LT15                   SK  1990   1345965.0
5461     T  Y_LT15                   TR  1990  19418643.0
5463     T  Y_LT15                   UK  1990  10833016.0

[119732 rows x 5 columns]

## Function to Save All The Data And Schedule To Automatically Run The Code

In [18]:
import eurostat
import time
import schedule
import pandas
import os

def get_and_save_data():
    try:
        print("Getting data...")
        # Let's use the code to get the 'Population by Geo and Time'
        data_geo_time = eurostat.get_data_df('tps00001')

        # Let's store the data in a folder
        folder_path = 'C:/Users/vieirra/Desktop/EUROSTAT_API'

        # Check if the folder exists, if not, create it
        os.makedirs(folder_path, exist_ok=True)

        # Save the data to a CSV file in the folder
        file_path = os.path.join(folder_path, 'population.csv')
        data_geo_time.to_csv(file_path, index=False)

        print(f"Data fetched and saved to {file_path}")
    except Exception as e:
        print(f"Error: {e}")

# Schedule the data download to run every day at 2:00 PM
schedule.every().day.at("09:44").do(get_and_save_data)

# Run the scheduled job continuously
while True:
    schedule.run_pending()
    time.sleep(1)

Getting data...
Data fetched and saved to C:/Users/vieirra/Desktop/EUROSTAT_API\population.csv

KeyboardInterrupt: