## Access The Eurostat API and Get The Necessary Data

In [8]:
import eurostat
import time
import schedule
import pandas
import os

In [9]:
# Let's get all the datasets
toc_df = eurostat.get_toc_df()
toc_df

,title,code,type,last update of data,last table structure change,data start,data end
0,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_ES,dataset,2023-08-29T23:00:00+0200,2023-08-29T23:00:00+0200,2000-Q1,2023-Q1
1,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_FI,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2023-Q1
2,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_FR,dataset,2023-10-24T11:00:00+0200,2023-10-24T11:00:00+0200,1998-Q1,2022-Q4
3,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_HR,dataset,2023-09-05T23:00:00+0200,2023-09-05T23:00:00+0200,2005-Q1,2023-Q2
4,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_IE,dataset,2023-09-14T23:00:00+0200,2023-09-14T23:00:00+0200,1997-Q1,2023-Q2
5,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_IT,dataset,2023-10-06T23:00:00+0200,2023-10-06T23:00:00+0200,1997-Q1,2022-Q4
6,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_LT,dataset,2023-08-11T23:00:00+0200,2023-08-11T23:00:00+0200,2004-Q1,2023-Q1
7,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_LV,dataset,2023-08-11T23:00:00+0200,2023-08-11T23:00:00+0200,2001-Q1,2023-Q2
8,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_ME,dataset,2023-10-06T23:00:00+0200,2023-10-06T23:00:00+0200,2019-Q1,2023-Q2
9,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_MT,dataset,2023-08-28T23:00:00+0200,2023-08-28T23:00:00+0200,2003-Q1,2023-Q1
10,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_NL,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2022-Q4
11,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_NO,dataset,2023-10-17T23:00:00+0200,2023-10-17T23:00:00+0200,2002-Q1,2022-Q4
12,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_PL,dataset,2023-09-12T11:00:00+0200,2023-09-12T11:00:00+0200,2004-Q1,2023-Q1
13,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_PT,dataset,2023-09-19T11:00:00+0200,2023-09-19T11:00:00+0200,2000-Q1,2023-Q1
14,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_SE,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2022-Q4
15,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_TR,dataset,2023-08-10T23:00:00+0200,2023-08-10T23:00:00+0200,2008-Q1,2023-Q2
16,Passengers (excluding cruise passengers) trans...,MAR_PA_QM_UK,dataset,2010-02-26T23:00:00+0100,2023-07-28T23:00:00+0200,1997-Q1,2020-Q2
17,Country level - gross weight of goods handled ...,MAR_QG_QM_CWH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
18,EU level - top 20 extra-EU maritime trade flow...,MAR_QG_QM_EWH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
19,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHD,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
20,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHG,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
21,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHK,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
22,EU level - top 10 extra-EU partner countries b...,MAR_QG_QM_EWHP,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
23,Eu level - gross weight of goods handled in ma...,MAR_QG_QM_EWHT,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
24,Top 5 ports for volume of containers - volume ...,MAR_QG_QM_PVH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
25,Top 5 ports - gross weight of goods handled in...,MAR_QG_QM_PWH,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
26,Top 5 ports for dry bulk- gross weight of dry ...,MAR_QG_QM_PWHB,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
27,Top 5 ports for containers - gross weight of g...,MAR_QG_QM_PWHC,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
28,Top 5 ports for liquid bulk - gross weight of ...,MAR_QG_QM_PWHL,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
29,Top 5 ports for other cargo not elsewhere spec...,MAR_QG_QM_PWHO,dataset,2023-06-29T11:00:00+0200,2023-07-28T23:00:00+0200,2005-Q1,2022-Q4
...,...,...,...,...,...,...,...
7507,Expenditure by LMP intervention - Germany,LMP_EXPME$DE,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7508,Expenditure by LMP intervention - Denmark,LMP_EXPME$DK,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7509,Expenditure by LMP intervention - Estonia,LMP_EXPME$EE,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7510,Expenditure by LMP intervention - Greece,LMP_EXPME$EL,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7511,Expenditure by LMP intervention - Spain,LMP_EXPME$ES,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7512,Expenditure by LMP intervention - Finland,LMP_EXPME$FI,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7513,Expenditure by LMP intervention - France,LMP_EXPME$FR,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7514,Expenditure by LMP intervention - Croatia,LMP_EXPME$HR,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7515,Expenditure by LMP intervention - Hungary,LMP_EXPME$HU,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7516,Expenditure by LMP intervention - Ireland,LMP_EXPME$IE,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7517,Expenditure by LMP intervention - Italy,LMP_EXPME$IT,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7518,Expenditure by LMP intervention - Lithuania,LMP_EXPME$LT,dataset,2023-09-27T14:44:34Z,2023-09-27T14:44:34Z,None,None
7519,Postal services falling under the universal se...,POST_CUBE1_X$USO701,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7520,Postal services - historical data,POST_CUBE_HIST_X,dataset,2021-10-12T04:09:13Z,2021-10-12T04:09:13Z,2004,2011
7521,Domestic postal services (USP) - access points...,POST_CUBE_HIST_X$POST_PS_AC,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7522,Domestic postal services (USP) - employment (2...,POST_CUBE_HIST_X$POST_PS_EMPN,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7523,Domestic and international postal services (US...,POST_CUBE_HIST_X$POST_PS_QS,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7524,Domestic and international postal services (US...,POST_CUBE_HIST_X$POST_PS_TRA,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7525,Domestic postal services (USP) - turnover (200...,POST_CUBE_HIST_X$POST_PS_TUR,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7526,Domestic and international postal services (US...,POST_CUBE_HIST_X$POST_PS_LET,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7527,Domestic postal services (USP) - prices (2004-...,POST_CUBE_HIST_X$POST_PS_PRI,dataset,2018-12-13T12:00:00Z,2018-12-13T12:00:00Z,None,None
7528,Employment related to the provision of postal...,POST_CUBE1_X$POST_EMP_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7529,Turnover from the provision of postal services...,POST_CUBE1_X$POST_FIN_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7530,International inbound and outbound postal traf...,POST_CUBE1_X$POST_ITR_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7531,Prices of letter mail and parcel services (US...,POST_CUBE1_X$POST_PRI_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7532,Percentage of letters delivered on-time (USP u...,POST_CUBE1_X$POST_QOS_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7533,Postal services,POST_CUBE1_X,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,2012,2021
7534,Number of enterprises providing postal services,POST_CUBE1_X$NUM701,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7535,Access points (USP under direct or indirect d...,POST_CUBE1_X$POST_ACC_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None
7536,"Domestic postal traffic, letter mail and parce...",POST_CUBE1_X$POST_DTR_1,dataset,2023-05-23T08:18:37Z,2023-05-10T10:54:33Z,None,None

In [10]:
# Search For a Dataset Based On the Keyword
f = eurostat.subset_toc_df(toc_df, 'population')
f

,title,code,type,last update of data,last table structure change,data start,data end
90,Population connected to Wastewater Treatment,MED_EN47,dataset,2020-05-28T23:00:00+0200,2021-06-01T23:00:00+0200,2005,2018
105,Population on 1 January by sex and by age group,MED_PS112,dataset,2020-05-28T23:00:00+0200,2021-02-08T23:00:00+0100,2005,2019
106,Average population (mid-year),MED_PS115,dataset,2020-05-28T23:00:00+0200,2021-02-08T23:00:00+0100,2005,2018
173,Average annual population to calculate regiona...,MET_10R_3PGDP,dataset,2023-08-18T23:00:00+0200,2023-03-10T23:00:00+0100,2000,2021
189,Population density by metropolitan regions,MET_D3DENS,dataset,2023-09-19T23:00:00+0200,2023-09-19T23:00:00+0200,2018,2022
192,Population aged 25-64 by educational attainmen...,MET_EDAT_LFSE4,dataset,2023-07-20T23:00:00+0200,2023-07-20T23:00:00+0200,2009,2022
199,Community design (CD) applications per million...,MET_IPR_DAPOP,dataset,2018-07-19T11:00:00+0200,2021-02-08T23:00:00+0100,2003,2016
204,Community designs (CD) per million population ...,MET_IPR_DFAPOP,dataset,2018-07-19T11:00:00+0200,2021-02-08T23:00:00+0100,2003,2016
212,European Union trade mark (EUTM) applications ...,MET_IPR_TAPOP,dataset,2018-07-19T11:00:00+0200,2021-02-08T23:00:00+0100,1996,2016
217,"Economically active population by sex, age and...",MET_LFP3POP,dataset,2023-07-20T23:00:00+0200,2023-07-20T23:00:00+0200,1999,2022
219,"Population by sex, age and metropolitan regions",MET_LFSD3POP,dataset,2023-07-20T23:00:00+0200,2023-07-20T23:00:00+0200,1999,2022
231,"Population on 1 January by broad age group, se...",MET_PJANAGGR3,dataset,2023-10-10T23:00:00+0200,2023-07-17T23:00:00+0200,1990,2022
232,Population on 1 January by five year age group...,MET_PJANGRP3,dataset,2023-10-10T23:00:00+0200,2023-05-19T23:00:00+0200,2014,2022
241,"Population on 1st January by age, sex, type of...",MET_PROJ_19RP,dataset,2022-12-20T23:00:00+0100,2022-12-20T23:00:00+0100,2019,2100
256,Vaccination against influenza of population ag...,HLTH_PS_IMMU,dataset,2023-07-12T11:00:00+0200,2023-07-12T11:00:00+0200,2000,2022
468,"Population on 1 January by age group, sex and ...",MIGR_POP1CTZ,dataset,2023-10-05T23:00:00+0200,2023-09-29T23:00:00+0200,1998,2022
470,"Population on 1 January by age, sex and broad ...",MIGR_POP2CTZ,dataset,2023-10-05T11:00:00+0200,2023-03-29T11:00:00+0200,1998,2022
473,"Population on 1 January by age group, sex and ...",MIGR_POP3CTB,dataset,2023-10-05T11:00:00+0200,2023-03-27T23:00:00+0200,1998,2022
475,"Population on 1 January by age, sex and group ...",MIGR_POP4CTB,dataset,2023-10-05T11:00:00+0200,2023-03-29T11:00:00+0200,1998,2022
477,"Population on 1 January by sex, citizenship an...",MIGR_POP5CTZ,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2009,2022
479,"Population on 1 January by sex, country of bir...",MIGR_POP6CTB,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2009,2022
482,"Population on 1 January by age group, sex and ...",MIGR_POP7CTZ,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2014,2022
485,"Population on 1 January by age group, sex and ...",MIGR_POP8CTB,dataset,2023-10-05T11:00:00+0200,2023-06-12T23:00:00+0200,2014,2022
563,Employment and population- international data ...,NAIDA_10_PE,dataset,2023-11-11T23:00:00+0100,2023-02-24T23:00:00+0100,1975,2022
569,Employment and population - international data...,NAIDQ_10_PE,dataset,2023-11-14T23:00:00+0100,2023-09-27T11:00:00+0200,1975-Q1,2023-Q3
643,Average annual population to calculate regiona...,NAMA_10R_3POPGDP,dataset,2023-08-02T23:00:00+0200,2023-02-19T23:00:00+0100,2000,2021
684,Population and employment,NAMA_10_PE,dataset,2023-10-26T23:00:00+0200,2023-10-05T23:00:00+0200,1975,2022
701,Population and employment,NAMQ_10_PE,dataset,2023-11-14T23:00:00+0100,2023-10-27T23:00:00+0200,1975-Q1,2023-Q3
835,Gini coefficient on household population - exp...,ICW_SR_05,dataset,2023-10-09T23:00:00+0200,2023-06-12T23:00:00+0200,2010,2020
916,Children in formal childcare or education by a...,ILC_CAINDFORMAL,dataset,2023-09-29T23:00:00+0200,2023-09-14T23:00:00+0200,2005,2022
...,...,...,...,...,...,...,...
7364,"Population by group of citizenship, occupation...",CENS_11CTZO_R2,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7365,Population by country of citizenship at nation...,CENS_11CTZ_N,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7367,"Population by status in employment, NACE Rev. ...",CENS_11EMPN_R2,dataset,2015-07-22T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7368,"Population by status in employment, occupation...",CENS_11EMPO_R2,dataset,2019-04-01T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7369,Population by family status and NUTS 3 region,CENS_11FS_R3,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7371,Population by housing arrangement and NUTS 2 r...,CENS_11HOU_R2,dataset,2015-08-26T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7373,Population by marital status and NUTS 3 region,CENS_11MS_R3,dataset,2019-04-01T23:00:00+0200,2021-02-08T23:00:00+0100,2011,2011
7374,Population by broad age group,CENS_21AG,dataset,2023-10-10T23:00:00+0200,2023-10-10T23:00:00+0200,2021,2021
7375,Population by broad age group and NUTS 3 regions,CENS_21AGR3,dataset,2023-10-10T23:00:00+0200,2023-10-10T23:00:00+0200,2021,2021
7376,Population with Ukrainian citizenship by age,CENS_21UA_A,dataset,2023-03-13T23:00:00+0100,2023-03-13T23:00:00+0100,2021,2021
7377,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_A5,dataset,2023-03-07T23:00:00+0100,2023-03-07T23:00:00+0100,2021,2021
7378,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_A5R3,dataset,2023-03-13T23:00:00+0100,2023-03-13T23:00:00+0100,2021,2021
7379,Population with Ukrainian citizenship by age a...,CENS_21UA_AR3,dataset,2023-03-13T23:00:00+0100,2023-03-13T23:00:00+0100,2021,2021
7380,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_MS,dataset,2022-07-07T23:00:00+0200,2022-07-07T23:00:00+0200,2021,2021
7381,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_MSR3,dataset,2022-07-07T23:00:00+0200,2022-07-07T23:00:00+0200,2021,2021
7382,Population with Ukrainian citizenship by 5-yea...,CENS_21UA_YAE,dataset,2022-10-12T23:00:00+0200,2022-10-12T23:00:00+0200,2021,2021
7383,Active population by sex and age,CENS_91AAGE,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7384,Active population by citizenship and age group,CENS_91ACTZ,dataset,2010-01-11T11:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7387,Female active population by age and marital st...,CENS_91AMSTA,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7389,"Active population by sex, age groups and worki...",CENS_91AWSTA,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7393,"Active population by sex, by age group and edu...",CENS_91EACT,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7394,"Inactive population by sex, age group and educ...",CENS_91EINACT,dataset,2009-03-26T23:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7398,Population by sex and year of birth,CENS_91SBIRTH,dataset,2010-01-18T11:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7399,"Population by sex, age group and citizenship",CENS_91SCTZ,dataset,2010-01-11T11:00:00+0100,2021-02-08T23:00:00+0100,1991,1991
7400,"Population by sex, age and marital status",CENS_91SMSTA,dataset,2010-04-13T11:00:00+0200,2021-02-08T23:00:00+0100,1991,1991
7403,Employed population by sex and occupation,CENS_HNAISCO,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7404,"Population by sex, age and current activity st...",CENS_HNCAS,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7405,"Population by sex, age and citizenship",CENS_HNCTZ,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7408,"Population by sex, age and educational attainm...",CENS_HNELEV,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1991,2001
7409,Population by sex and age,CENS_HNMGA,dataset,2014-04-25T11:00:00+0200,2021-02-08T23:00:00+0100,1981,2001

In [11]:
# Let's use the code to get the 'Population by Geo and Time'
data_geo_time = eurostat.get_data_df('tps00001')
data_geo_time

,freq,indic_de,geo\TIME_PERIOD,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,JAN,AD,78115.0,76246.0,NaN,NaN,71732.0,NaN,74794.0,76177.0,77543.0,NaN,79535.0,81588.0
1,A,JAN,AL,2903008.0,2897770.0,2892394.0,2885796.0,2875592.0,2876591.0,2870324.0,2862427.0,2845955.0,2829741.0,2793592.0,2761785.0
2,A,JAN,AM,3274285.0,3026878.0,3017079.0,3010598.0,2998577.0,2986151.0,2972732.0,2965269.0,2959694.0,2963251.0,NaN,2977130.0
3,A,JAN,AT,8408121.0,8451860.0,8507786.0,8584926.0,8700471.0,8772865.0,8822267.0,8858775.0,8901064.0,8932664.0,8978929.0,9104772.0
4,A,JAN,AZ,9235085.0,9356483.0,9477119.0,9593038.0,9705643.0,9809981.0,9898085.0,9981457.0,10067108.0,10119133.0,10156366.0,10127145.0
5,A,JAN,BA,3839265.0,3835645.0,3830911.0,3825334.0,3515982.0,3509728.0,3500295.0,3492018.0,NaN,NaN,NaN,NaN
6,A,JAN,BE,11075889.0,11137974.0,11180840.0,11237274.0,11311117.0,11351727.0,11398589.0,11455519.0,11522440.0,11554767.0,11617623.0,11754004.0
7,A,JAN,BG,7327224.0,7284552.0,7245677.0,7202198.0,7153784.0,7101859.0,7050034.0,7000039.0,6951482.0,6916548.0,6838937.0,6447710.0
8,A,JAN,BY,9465150.0,9463840.0,9468154.0,9480868.0,9498364.0,9504704.0,9491823.0,9475174.0,9408350.0,NaN,NaN,NaN
9,A,JAN,CH,7954662.0,8039060.0,8139631.0,8237666.0,8327126.0,8419550.0,8484130.0,8544527.0,8606033.0,8670300.0,8738791.0,8812728.0
10,A,JAN,CY,862011.0,865878.0,858000.0,847008.0,848319.0,854802.0,864236.0,875899.0,888005.0,896007.0,904705.0,920701.0
11,A,JAN,CZ,10505445.0,10516125.0,10512419.0,10538275.0,10553843.0,10578820.0,10610055.0,10649800.0,10693939.0,10494836.0,10516707.0,10827529.0
12,A,JAN,DE,80327900.0,80523746.0,80767463.0,81197537.0,82175684.0,82521653.0,82792351.0,83019213.0,83166711.0,83155031.0,83237124.0,84358845.0
13,A,JAN,DK,5580516.0,5602628.0,5627235.0,5659715.0,5707251.0,5748769.0,5781190.0,5806081.0,5822763.0,5840045.0,5873420.0,5932654.0
14,A,JAN,EA19,335288924.0,336044966.0,337764352.0,338562121.0,339787987.0,340541142.0,341253004.0,341636902.0,342574791.0,342561034.0,342805884.0,345405146.0
15,A,JAN,EA20,339564908.0,340307106.0,342011161.0,342787437.0,343978656.0,344695355.0,345358497.0,345713148.0,346632956.0,346670757.0,346731402.0,349256040.0
16,A,JAN,EE,1325217.0,1320174.0,1315819.0,1314870.0,1315944.0,1315635.0,1319133.0,1324820.0,1328976.0,1330068.0,1331796.0,1365884.0
17,A,JAN,EL,11086406.0,11003615.0,10926807.0,10858018.0,10783748.0,10768193.0,10741165.0,10724599.0,10718565.0,10678632.0,10459782.0,10394055.0
18,A,JAN,ES,46818219.0,46727890.0,46512199.0,46449565.0,46440099.0,46528024.0,46658447.0,46937060.0,47332614.0,47398695.0,47432893.0,48059777.0
19,A,JAN,EU27_2020,440552661.0,441257711.0,442883888.0,443666812.0,444802830.0,445534430.0,446208557.0,446559279.0,447485231.0,447000548.0,446735291.0,448387872.0
20,A,JAN,FI,5401267.0,5426674.0,5451270.0,5471753.0,5487308.0,5503297.0,5513130.0,5517919.0,5525292.0,5533793.0,5548241.0,5563970.0
21,A,JAN,FR,65276983.0,65600350.0,66165980.0,66458153.0,66638391.0,66809816.0,67026224.0,67290471.0,67485531.0,67656682.0,67871925.0,68070697.0
22,A,JAN,FX,63375971.0,63697865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,A,JAN,GE,4497617.0,NaN,4490498.0,3729500.0,3720400.0,3726374.0,3729633.0,3723464.0,3716858.0,3728573.0,3688647.0,3736357.0
24,A,JAN,HR,4275984.0,4262140.0,4246809.0,4225316.0,4190669.0,4154213.0,4105493.0,4076246.0,4058165.0,4036355.0,3862305.0,3850894.0
25,A,JAN,HU,9931925.0,9908798.0,9877365.0,9855571.0,9830485.0,9797561.0,9778371.0,9772756.0,9769526.0,9730772.0,9689010.0,9597085.0
26,A,JAN,IE,4589287.0,4609779.0,4637852.0,4677627.0,4726286.0,4784383.0,4830392.0,4904240.0,4964440.0,5006324.0,5060004.0,5194336.0
27,A,JAN,IS,319575.0,321857.0,325671.0,329100.0,332529.0,338349.0,348450.0,356991.0,364134.0,368792.0,376248.0,387758.0
28,A,JAN,IT,59394207.0,59685227.0,60782668.0,60795612.0,60665551.0,60589445.0,60483973.0,59816673.0,59641488.0,59236213.0,59030133.0,58850717.0
29,A,JAN,LI,36475.0,36838.0,37129.0,37366.0,37622.0,37810.0,38114.0,38378.0,38747.0,39055.0,39308.0,39679.0
30,A,JAN,LT,3003641.0,2971905.0,2943472.0,2921262.0,2888558.0,2847904.0,2808901.0,2794184.0,2794090.0,2795680.0,2805998.0,2857279.0
31,A,JAN,LU,524853.0,537039.0,549680.0,562958.0,576249.0,590667.0,602005.0,613894.0,626108.0,634730.0,645397.0,660809.0
32,A,JAN,LV,2044813.0,2023825.0,2001468.0,1986096.0,1968957.0,1950116.0,1934379.0,1919968.0,1907675.0,1893223.0,1875757.0,1883008.0
33,A,JAN,MC,NaN,NaN,NaN,37700.0,38200.0,NaN,38300.0,38300.0,NaN,NaN,NaN,NaN
34,A,JAN,MD,3559541.0,3559497.0,2869226.0,2844673.0,2824387.0,2779952.0,2730364.0,2686064.0,2640438.0,2597107.0,2603729.0,2512758.0
35,A,JAN,ME,620308.0,620893.0,621521.0,622099.0,622218.0,622387.0,622359.0,622182.0,621873.0,620739.0,617683.0,616695.0
36,A,JAN,MK,2059794.0,2062294.0,2065769.0,2069172.0,2071278.0,2073702.0,2075301.0,2077132.0,2076255.0,2068808.0,1837114.0,1829954.0
37,A,JAN,MT,417546.0,422509.0,429424.0,439691.0,450415.0,460297.0,475701.0,493559.0,514564.0,516100.0,520971.0,542051.0
38,A,JAN,NL,16730348.0,16779575.0,16829289.0,16900726.0,16979120.0,17081507.0,17181084.0,17282163.0,17407585.0,17475415.0,17590672.0,17811291.0
39,A,JAN,NO,4985870.0,5051275.0,5107970.0,5166493.0,5210721.0,5258317.0,5295619.0,5328212.0,5367580.0,5391369.0,5425270.0,5488984.0
40,A,JAN,PL,38063792.0,38062535.0,38017856.0,38005614.0,37967209.0,37972964.0,37976687.0,37972812.0,37958138.0,37840001.0,37654247.0,36753736.0
41,A,JAN,PT,10542398.0,10487289.0,10427301.0,10374822.0,10341330.0,10309573.0,10291027.0,10276617.0,10295909.0,10298252.0,10352042.0,10467366.0
42,A,JAN,RO,20095996.0,20020074.0,19947311.0,19870647.0,19760585.0,19643949.0,19533481.0,19414458.0,19328838.0,19201662.0,19042455.0,19051562.0
43,A,JAN,RS,7216649.0,7181505.0,7146759.0,7114393.0,7076372.0,7040272.0,7001444.0,6963764.0,6926705.0,6871547.0,6797105.0,6664449.0
44,A,JAN,RU,143056383.0,NaN,143666931.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,A,JAN,SE,9482855.0,9555893.0,9644864.0,9747355.0,9851017.0,9995153.0,10120242.0,10230185.0,10327589.0,10379295.0,10452326.0,10521556.0
46,A,JAN,SI,2055496.0,2058821.0,2061085.0,2062874.0,2064188.0,2065895.0,2066880.0,2080908.0,2095861.0,2108977.0,2107180.0,2116792.0
47,A,JAN,SK,5404322.0,5410836.0,5415949.0,5421349.0,5426252.0,5435343.0,5443120.0,5450421.0,5457873.0,5459781.0,5434712.0,5428792.0
48,A,JAN,SM,33376.0,33562.0,32520.0,32789.0,33005.0,33196.0,34453.0,34590.0,34735.0,34805.0,33698.0,33812.0
49,A,JAN,TR,74724269.0,75627384.0,76667864.0,77695904.0,78741053.0,79814871.0,80810525.0,82003882.0,83154997.0,83614362.0,84680273.0,85279553.0
50,A,JAN,UA,45453282.0,45372692.0,45245894.0,42759661.0,42590879.0,42414905.0,42216766.0,41983564.0,41732779.0,41418717.0,40997698.0,NaN
51,A,JAN,UK,63495088.0,63905342.0,64351203.0,64853393.0,65379044.0,65844142.0,66273576.0,66647112.0,67025542.0,NaN,NaN,NaN
52,A,JAN,XK,1780021.0,1815606.0,1820631.0,1804944.0,1771604.0,1783531.0,1798506.0,1795666.0,1782115.0,1798188.0,NaN,NaN

## Function to Save All The Data And Schedule To Automatically Run The Code

In [18]:
import eurostat
import time
import schedule
import pandas
import os

def get_and_save_data():
    try:
        print("Getting data...")
        # Let's use the code to get the 'Population by Geo and Time'
        data_geo_time = eurostat.get_data_df('tps00001')

        # Let's store the data in a folder
        folder_path = 'C:/Users/vieirra/Desktop/EUROSTAT_API'

        # Check if the folder exists, if not, create it
        os.makedirs(folder_path, exist_ok=True)

        # Save the data to a CSV file in the folder
        file_path = os.path.join(folder_path, 'population.csv')
        data_geo_time.to_csv(file_path, index=False)

        print(f"Data fetched and saved to {file_path}")
    except Exception as e:
        print(f"Error: {e}")

# Schedule the data download to run every day at 2:00 PM
schedule.every().day.at("09:44").do(get_and_save_data)

# Run the scheduled job continuously
while True:
    schedule.run_pending()
    time.sleep(1)

Getting data...
Data fetched and saved to C:/Users/vieirra/Desktop/EUROSTAT_API\population.csv

KeyboardInterrupt: